# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# credentials file (API key)
/src/battlenet/apikey.json

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# editor-specific
/*.sublime-workspace
/.idea

# environment file
/.env

# typedoc docs
/docs

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
package-lock.json
yarn-debug.log*
yarn-error.log*
yarn.lock
