.App {
    background-color: #282c34;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    text-align: center;
}

.App-header {
    padding-top: 2%;
    padding-bottom: 2%;
    width: 100%;
    border-bottom: 1px solid white;
    flex: 0 0 auto;
}

.App-main {
    flex: 1 1 auto;
    overflow: auto;
    width: 100%;
}
